
<link rel="stylesheet" href="{{ 'component-rating.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rating.css' | asset_url | stylesheet_tag }}</noscript>
<div class="card-wrapper product-wrap product-card mb-55 card__media-full-spacer"> 
  <div class="product-img pro-theme-color-border product-border mb-25 product-card__image-wrapper">
    <div class="card card--product{% if product_card_product.featured_media == nil %} card--text-only card--soft{% endif %}{% if product_card_product.featured_media != nil and show_image_outline %} card--outline{% endif %}" tabindex="-1">
      <div class="card__inner">
        {%- if product_card_product.featured_media -%}
          {%- liquid
            assign featured_media_aspect_ratio = product_card_product.featured_media.aspect_ratio
            if product_card_product.featured_media.aspect_ratio == nil
              assign featured_media_aspect_ratio = 1
            endif
          -%}
          <div{% if add_image_padding %} class=""{% endif %}>
            <a href="{{ product_card_product.url | default: '#' }}" class="media media--transparent media--{{ media_size }} media--hover-effect"
              {% if media_size == 'adapt' and product_card_product.featured_media %} style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"{% endif %}
            >              
              <img
                srcset="{%- if product_card_product.featured_media.width >= 165 -%}{{ product_card_product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                  {%- if product_card_product.featured_media.width >= 360 -%}{{ product_card_product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                  {%- if product_card_product.featured_media.width >= 533 -%}{{ product_card_product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                  {%- if product_card_product.featured_media.width >= 720 -%}{{ product_card_product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                  {%- if product_card_product.featured_media.width >= 940 -%}{{ product_card_product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                  {%- if product_card_product.featured_media.width >= 1066 -%}{{ product_card_product.featured_media | img_url: '1066x' }} 1066w,{%- endif -%}
                  {{ product_card_product.featured_media | img_url: 'master' }} {{ product_card_product.featured_media.width }}w"
                src="{{ product_card_product.featured_media | img_url: '533x' }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ product_card_product.featured_media.alt | escape }}"
                loading="lazy"
                class="motion-reduce"
                width="{{ product_card_product.featured_media.width }}"
                height="{{ product_card_product.featured_media.height }}"
              >

              {%- if product_card_product.media[1] != nil and show_secondary_image -%}
                <img
                  srcset="{%- if product_card_product.media[1].width >= 165 -%}{{ product_card_product.media[1] | img_url: '165x' }} 165w,{%- endif -%}
                    {%- if product_card_product.media[1].width >= 360 -%}{{ product_card_product.media[1] | img_url: '360x' }} 360w,{%- endif -%}
                    {%- if product_card_product.media[1].width >= 533 -%}{{ product_card_product.media[1] | img_url: '533x' }} 533w,{%- endif -%}
                    {%- if product_card_product.media[1].width >= 720 -%}{{ product_card_product.media[1] | img_url: '720x' }} 720w,{%- endif -%}
                    {%- if product_card_product.media[1].width >= 940 -%}{{ product_card_product.media[1] | img_url: '940x' }} 940w,{%- endif -%}
                    {%- if product_card_product.media[1].width >= 1066 -%}{{ product_card_product.media[1] | img_url: '1066x' }} 1066w,{%- endif -%}
                    {{ product_card_product.media[1] | img_url: 'master' }} {{ product_card_product.media[1].width }}w"
                  src="{{ product_card_product.media[1] | img_url: '533x' }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                  alt="{{ product_card_product.media[1].alt | escape }}"
                  loading="lazy"
                  class="motion-reduce"
                width="{{ product_card_product.media[1].width }}"
                height="{{ product_card_product.media[1].height }}"
                >
              {%- endif -%}
            </a>
          </div>
        {%- else -%}
          <div class="card__content">
            <h2 class="card__text h3">
              <a href="{{ product_card_product.url | default: '#' }}" class="full-unstyled-link">
                {{ product_card_product.title }}
              </a>
            </h2>
          </div>
        {%- endif -%}
        <div class="card__badge {{ settings.sale_out }}">
          {%- if product_card_product.available == false -%}
            <span class="badge badge--bottom-left sold-out color-{{ settings.sold_out_badge_color_scheme }}">{{ 'products.product.sold_out' | t }}</span>
          {%- elsif product_card_product.compare_at_price > product_card_product.price and product_card_product.available -%}
            <span class="badge badge--bottom-left sale color-{{ settings.sale_badge_color_scheme }}">{{ 'products.product.on_sale' | t }}</span>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
  <div class="card-information product-content prd-detail">
    
    <div class="card-information__wrapper" style="text-align: {{ settings.product_content_aline }};">
      {%- if show_vendor -%}
        <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
        <div class="caption-with-letter-spacing light">{{ product_card_product.vendor }}</div>
      {%- endif -%}
      <div class="wish-btn product-tile--tile-actions flex test2">
        {% render 'wishlist-button2', with product:product_card_product,product_class:classRecomend %}
      </div>
      
      {%- if product_card_product.featured_media -%}
        <h4 class="card-information__text h5">
          <a href="{{ product_card_product.url | default: '#' }}" class="full-unstyled-link">
            {{ product_card_product.title | escape }}
          </a>
        </h4>
      {%- endif -%}
    
      <div class="rating">
        <span class="shopify-product-reviews-badge" data-id="{{ product_card_product.id }}"></span>
      </div>
      
      <div class="description">
        {{ product_card_product.description | truncate: 150 | remove: "<span>" }}
      </div>
      
      {% render 'price', product: product_card_product, price_class: '' %}
      
      <div class="prd-btns {{ settings.product_btn }}">
        <div class="cart-btn">
          <div class="btn cart-icon shopify-buy__btn {% if product_card_product.variants.size <= 1 %} AddToCart {% endif %}" data-product_id="{{ product_card_product.variants.first.id }}" >
            <span></span><a href="{{ product_card_product.url }}" aria-label="cart">{% render 'icon-add-cart' %}<span></span></a>
          </div>
        </div>
      </div>
    </div>  
  
    <div class="list-cart-button cart-form-btn" style="display:none;">
      <form method="post" action="/cart/add" data-productid="{{ product.id }}" class="">
        <input name="id" data-productid="{{ product.id }}" value="{{ product_card_product.variants.first.id }}" type="hidden" />
        <input name="add" class="btn product-form__cart-submit btn-prinmary" value="Add to Cart" type="submit" />
      </form>
    </div>
  </div> 
</div>