<div class="share-btn-icon">
  {% render 'share-icon' %}
</div>
<div class="social_media_icon">
  {% if settings.social_facebook_link %}
    <a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" class="share-facebook">
      <span class="icon icon-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></span>
      <span class="share-title">Facebook</span>
    </a>
  {% endif %}

  {% if settings.social_twitter_link %}
    <a target="_blank" href="//twitter.com/share?url={{ permalinkURL }}" class="share-twitter">
      <span class="icon icon-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></span>
      <span class="share-title">Tweet</span>
    </a>
  {% endif %}

  {% if settings.social_pinterest_link %}
    <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media={{ product.featured_image | product_img_url: 'original' }}&amp;description={{ product.title | escape | remove:' ' }}" class="share-pinterest">
      <span class="icon icon-pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></span>
      <span class="share-title">Pin it</span>
    </a>
  {% endif %}

  {% if settings.social_fancy_link %}
    <a target="_blank" href="http://www.thefancy.com/fancyit?ItemURL={{ permalinkURL }}&amp;Title={{ product.title }}&amp;Category=Other&amp;ImageURL={{ product.featured_image | product_img_url: 'original' }}" class="share-fancy">
      <span class="icon icon-fancy"><i class="fa fa-fancy" aria-hidden="true"></i></span>
    </a>
  {% endif %}

  {% if settings.social_google_link %}
    <a target="_blank" href="//plus.google.com/share?url={{ permalinkURL }}" class="share-google">                  
      <span class="icon icon-google"><i class="fa fa-google" aria-hidden="true"></i></span>
    </a>
  {% endif %}             
</div>