<div id="MainProduct-{{ section.id }}" class="page-width section-{{ section.id }}-padding" data-section="{{ section.id }}">
  <link rel="stylesheet" href="{{ 'section-main-product.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'component-accordion.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'component-rating.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'product-slider-full-width.css' | asset_url }}">

  {%- style -%}
    .product-left-info {
      width: 65%;
      float: left;
    }
    .product-right-info {
      width: 35%;
      float: right;
    }
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {%- endstyle -%}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

  {%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
  {%- if first_3d_model -%}
    {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
    <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
    <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
  {%- endif -%}

  <div class="product product-slider-full-width product--{{ section.settings.media_size }} product--{{ section.settings.gallery_layout }} grid grid--1-col {% if product.media.size > 0 %}grid--2-col-tablet{% else %}product--no-media{% endif %}">
    
    <div class="grid__item product__media-wrapper">
      <div class="row">
        <div class="product_feature_image full-width-slider-feature-image">      
        {%- for media in product.media -%}
          {% assign wishlist_setup = true %}
          {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
            <div class="col-md-12" id="Slide-{{ section.id }}-{{ media.id }}" class="product__media-item grid__item slider__slide{% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} is-active{% endif %}{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
            {%- liquid
               assign media_position = media_position | default: 0 | plus: 1
               assign lazy_load = false
               if media_position > 1
                 assign lazy_load = true
               endif
               render 'custom-product-thumbnail',product:product, wishlist_setup:true,fancy_box:true, media: media, position: media_position, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width, lazy_load: lazy_load
              -%}              
            </div>
          {%- endunless -%}          
        {%- endfor -%} 
      </div>      
        <div class="product_thumbnail_image full-width-slider-thumbnail">
        {%- for media in product.media -%}
        {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
          <div data-id="Slide-{{ section.id }}-{{ media.id }}" class="product_thumbnail product__media-item grid__item slider__slide{% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} is-active{% endif %}{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
          {%- liquid
             assign media_position = media_position | default: 0 | plus: 1
             assign lazy_load = false
             if media_position > 1
               assign lazy_load = true
             endif
             render 'custom-product-thumbnail', media: media, position: media_position, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width, lazy_load: lazy_load
            -%}
          </div>
        {%- endunless -%}
      {%- endfor -%}     
      </div>
      </div>
    </div>
    <div class="product__info-wrapper grid__item{% if settings.page_width > 1400 and section.settings.media_size == "small" %} product__info-wrapper--extra-padding{% endif %}">
      <div id="ProductInfo-{{ section.id }}" class="product__info-container{% if section.settings.enable_sticky_info %}{% endif %}">
        <div class="main-product-info">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
              {%- when 'text' -%}
                <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" {{ block.shopify_attributes }}>
                  {{- block.settings.text -}}
                </p>
              {%- when 'title' -%}
                <div class="product_inventory_check">
                  {% assign product_qty = false %}
                  {% for variant in product.variants %}
                    {% if variant.inventory_quantity > 0 %}
                      {% assign product_qty = true %}
                    {% endif %}
                  {% endfor %}
                  {% if product_qty %}
                    <span class="in_stock">In Stock</span>
                  {% endif %} 
                
                </div>
                <div class="product__title" {{ block.shopify_attributes }}>
                  <h2>{{ product.title | escape }}</h2>
                  {% if product.tags contains 'new' %}<span class="new">New</span>{% endif %}
                   {% comment %} Wishlist button {% endcomment %}
                  <div class="wishlist_btn">
                    <div class="wish-btn product-tile--tile-actions flex test2">
                      {% render 'custom-wishlist-button', with product:product,product_class:classRecomend %}
                    </div>
                  </div>
                    <a href="{{ product.url }}" class="product__title">
                      <h2 class="h1">{{ product.title | escape }}</h2>
                    </a>
                </div>

                 <div class="rating">
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
        
              {%- when 'description' -%}
                {%- if product.description != blank -%}
                  <div class="product__description rte quick-add-hidden">
                    {{ product.description }}
                  </div>
                {%- endif -%}
            {%- endcase -%} 
          {%- endfor -%}  
        </div>
        <div class="product-left-info">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'best_offer' -%}
                {%- if block.settings.offer_img != blank or block.settings.offer_header != blank -%}
                  <div class="best_offer_details">
                    {% if block.settings.offer_img != blank %}
                      <img src="{{ block.settings.offer_img | image_url }}" alt="">
                    {% endif %}
                  
                    {%- if block.settings.offer_header != blank -%}
                      <h4> {{ block.settings.offer_header }} </h4>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              
                {%- if block.settings.offer_descript != blank -%}
                  <div class="best_offer_list"> {{ block.settings.offer_descript }} </div>
                {%- endif -%}
              
              {%- when 'checkout_safe_secure' -%}
                {%- if block.settings.safe_secure_title != blank or block.settings.checkout_logo_img != blank-%}
                  <div class="product_secure_detail">
                    <h4> {{ block.settings.safe_secure_title }} </h4>
                    {%- if block.settings.checkout_logo_img != blank -%}
                      <img src=" {{ block.settings.checkout_logo_img | image_url }} " alt="">
                    {%- endif -%}
                  </div>
                {%- endif -%}

              {%- when 'product_view' -%}             
                {% render 'product-view', block:block %}
              
              {%- when 'icon_and_text' -%}
                <div class="custom_icon_text">
                  <span class="icon_text_section">
                    {% if block.settings.icon_img != blank %} 
                      <img src="{{ block.settings.icon_img | image_url }}" alt="">
                    {% endif %} 
                    
                    <span>{{ block.settings.icon_text }}</span>
                  </span>
    
                  <span class="icon_text_section">
                    {% if block.settings.icon_img_two != blank %} 
                      <img src="{{ block.settings.icon_img_two | image_url }}" alt="">
                    {% endif %} 
                    
                    <span>{{ block.settings.icon_text_two }}</span>
                  </span>
                </div>
           
              {% when 'shipping' %}
                <div class="shipping_section">
                  {% render 'track-icon' %}
                  <p class="ml-3.75 font-normal">
                    Free Shipping & Returns: {{ block.settings.shipping_label }}
                  </p>
                </div>
              {% when 'estimated_delivery' %}
                {% render 'estimated-delivery', block:block %}  
              {%- when 'count_down' -%}  
               {% if product.metafields.down.count.value != blank and product.metafields.down.count.value == 1 %}
                 {% if block.settings.enable_count_down != blank %}
                   {% render 'count_down', block:block %}
                 {% endif %}
               {% endif %}
              {%- when 'stock_inventory' -%}             
                {% if block.settings.stock_available != blank %}
                  {% render 'instock-progress-bar', block:block %}        
                {% endif %} 
             {%- endcase -%}  
          {%- endfor -%}  
        </div>      
        
        <div class="product-right-info">
          {%- assign product_form_id = 'product-form-' | append: section.id -%}
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'price' -%}
              
                <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
                  {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
                </div>  
              
                {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                  <div class="product__tax caption rte">
                    {%- if shop.taxes_included -%}
                      {{ 'products.product.include_taxes' | t }}
                    {%- endif -%}
                    {%- if shop.shipping_policy.body != blank -%}
                      {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                    {%- endif -%}
                  </div>
                {%- endif -%}
              
              <div {{ block.shopify_attributes }}>
                {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
                {%- form 'product', product, data-productid: product.id, id: product_form_installment_id, class: 'installment caption-large' -%}
                  <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ product.selected_or_first_available_variant.id }}">
                  {{ form | payment_terms }}
                {%- endform -%}
              </div>         
          {%- when 'custom_liquid' -%}
            {{ block.settings.custom_liquid }}
          {%- when 'collapsible_tab' -%}
              
              <div class="product__accordion accordion quick-add-hidden" {{ block.shopify_attributes }}>
                <details id="Details-{{ block.id }}-{{ section.id }}">
                  <summary>
                    <div class="summary__title">
                      {% render 'icon-accordion', icon: block.settings.icon %}
                      <h2 class="h4 accordion__title"> {{ block.settings.heading | default: block.settings.page.title }} </h2>
                    </div>
                    {% render 'icon-caret' %}
                  </summary>
                <div class="accordion__content rte" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
                  {{ block.settings.content }}
                  {{ block.settings.page.content }}
                </div>
              </details>
            </div>
              
          {%- when 'quantity_selector' -%}
            <div class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}" {{ block.shopify_attributes }}>
              <label class="form__label" for="Quantity-{{ section.id }}">
                {{ 'products.product.quantity.label' | t }}
              </label>

              <quantity-input class="quantity">
                <button class="quantity__button no-js-hidden" name="minus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                  {% render 'icon-minus' %}
                </button>
                <input class="quantity__input"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    min="1"
                    value="1"
                    form="{{ product_form_id }}"
                  >
                <button class="quantity__button no-js-hidden" name="plus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                  {% render 'icon-plus' %}
                </button>
              </quantity-input>
            </div>
          {%- when 'popup' -%}
              <modal-opener class="product-popup-modal__opener no-js-hidden quick-add-hidden" data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
                <button id="ProductPopup-{{ block.id }}" class="product-popup-modal__button link" type="button" aria-haspopup="dialog">{{ block.settings.text | default: block.settings.page.title }}</button>
              </modal-opener>
              <a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">{{ block.settings.text }}</a>
          {%- when 'share' -%}
            <share-button id="Share-{{ section.id }}" class="share-button quick-add-hidden" {{ block.shopify_attributes }}>
              <button class="share-button__button hidden">
                {% render 'icon-share' %}
                {{ block.settings.share_label | escape }}
              </button>
              <details id="Details-{{ block.id }}-{{ section.id }}">
                <summary class="share-button__button">
                  {% render 'icon-share' %}
                  {{ block.settings.share_label | escape }}
                </summary>
                <div id="Product-share-{{ section.id }}" class="share-button__fallback motion-reduce">
                  <div class="field">
                    <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status">
                    </span>
                    <input type="text"
                          class="field__input"
                          id="url"
                          value="{{ product.selected_variant.url | default: product.url | prepend: request.origin }}"
                          placeholder="{{ 'general.share.share_url' | t }}"
                          onclick="this.select();"
                          readonly
                    >
                    <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                  </div>
                  <button class="share-button__close hidden no-js-hidden">
                    {% render 'icon-close' %}
                    <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
                  </button>
                  <button class="share-button__copy no-js-hidden">
                    {% render 'icon-clipboard' %}
                    <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
                  </button>
                </div>
              </details>
            </share-button>
            <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
          {%- when 'variant_picker' -%}
            {%- unless product.has_only_default_variant -%}
              {%- if block.settings.picker_type == 'button' -%}
                <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                      <fieldset class="js product-form__input {{ option.name }}">
                        <legend class="form__label">{{ option.name }}
                          {% if block.settings.show_size_chart %}
                            {% if option.name contains 'Size' %}
                              {%- liquid
                                 assign font_size = block.settings.size_chart_font | append: 'px'
                                 assign size_chart_lable = block.settings.size_chart_lable
                                 assign size_chart_clr = block.settings.size_chart_clr
                              -%}
                              <a class="trigger-pop-up btn" id="size_chart" style="font-size:{{ block.settings.size_chart_font  }}px!important; color:{{ block.settings.size_chart_clr }};">{{size_chart_lable }}</a>
                            {% endif %}
                          {% endif %} 
                        </legend>
                        <div class="field-option">
                          {%- for value in option.values -%}
                            <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                  name="{{ option.name }}"
                                  value="{{ value | escape }}"
                                  form="{{ product_form_id }}"
                                  {% if option.selected_value == value %}checked{% endif %}
                            >
                            {% if option.name == 'Color' %}
                              <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" style="background-color:{{ value }}">
                                {{ value }}
                              </label>
                            {% else %} 
                              <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">{{ value }}</label>
                            {% endif %}  
                          {%- endfor -%}
                        </div>
                      </fieldset>
                  {%- endfor -%}
                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-radios>
              {%- else -%}
                <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                    <div class="product-form__input product-form__input--dropdown">
                      <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                        {{ option.name }}
                      </label>
                      <div class="select">
                        <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                          class="select__select"
                          name="options[{{ option.name | escape }}]"
                          form="{{ product_form_id }}"
                        >
                          {%- for value in option.values -%}
                            <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                              {{ value }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                    </div>
                  {%- endfor -%}

                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-selects>
              {%- endif -%}
            {%- endunless -%}

            <noscript class="product-form__noscript-wrapper-{{ section.id }}">
              <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                <div class="select">
                  <select name="id" data-productid="{{ product.id }}" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
                    {%- for variant in product.variants -%}
                      <option
                        {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                        {% if variant.available == false %}disabled{% endif %}
                        value="{{ variant.id }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
            </noscript>
          {%- when 'buy_buttons' -%}
            <div {{ block.shopify_attributes }}>
              <product-form class="product-form">
                <div class="product-form__error-message-wrapper" role="alert" hidden>
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                    <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                    <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"></path>
                    <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7"></path>
                  </svg>
                  <span class="product-form__error-message"></span>
                </div>

                {%- form 'product', product, data-productid: product.id, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                  <div class="product-form__buttons">
                    <button
                      type="submit"
                      name="add"
                      class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}btn-secondary{% else %}btn-prinmary{% endif %}"
                      {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                    >

                  <!-- Add to Cart icon :start -->
                    {%- if product.selected_or_first_available_variant.available -%}
                      {% assign icon_style ="block" %}
                    {%- else -%}
                      {% assign icon_style ="none" %}
                    {%- endif -%}
                  
                    {% if settings.show_cart_icon %}
                       <p class="add_cart_icon" style="display:{{ icon_style }};">{% render 'add-to-cart-icon' %} </p>
                    {% endif %}
                  <!-- Add to Cart icon :End -->
                  
                        <span>
                          {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>
                        <div class="loading-overlay__spinner hidden">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                    </button>
                    {%- if block.settings.show_dynamic_checkout -%}
                      {{ form | payment_button }}
                    {%- endif -%}
                    <div class="compare_icon">
                      {% render 'compare-icon',product:product %}
                    </div> 
                  </div>
                {%- endform -%}
              </product-form>
              
              <link rel="stylesheet" href="{{ 'component-pickup-availability.css' | asset_url }}">

              {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}

              <pickup-availability class="product__pickup-availabilities no-js-hidden quick-add-hidden"
                {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
                data-root-url="{{ routes.root_url }}"
                data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                data-has-only-default-variant="{{ product.has_only_default_variant }}"
              >
                <template>
                  <pickup-availability-preview class="pickup-availability-preview">
                    {% render 'icon-unavailable' %}
                    <div class="pickup-availability-info">
                      <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                      <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                    </div>
                  </pickup-availability-preview>
                </template>
              </pickup-availability>
            </div>

            <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
          {%- when 'rating' -%}
            {%- if product.metafields.reviews.rating.value != blank -%}
              {% liquid
               assign rating_decimal = 0
               assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
               if decimal >= 0.3 and decimal <= 0.7
                assign rating_decimal = 0.5
              elsif decimal > 0.7
                assign rating_decimal = 1
               endif
              %}
              <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
                <span aria-hidden="true" class="rating-star color-icon-{{ settings.accent_icons }}" style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
              </div>
              <p class="rating-text caption">
                <span aria-hidden="true">{{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}</span>
              </p>
              <p class="rating-count caption">
                <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                <span class="visually-hidden">{{ product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
              </p>
            {%- endif -%} 
              
          {%- endcase -%}
        {%- endfor -%}
       </div> 
        <a href="{{ product.url }}" class="link product__view-details animate-arrow">
          {{ 'products.product.view_full_details' | t }}
          {% render 'icon-arrow' %}
        </a>
      </div>
    </div>
  </div>

  <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal media-modal">
    <div class="product-media-modal__dialog" role="dialog" aria-label="{{ 'products.modal.label' | t }}" aria-modal="true" tabindex="-1">
      <button id="ModalClose-{{ section.id }}" type="button" class="product-media-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>

      <div class="product-media-modal__content gradient" role="document" aria-label="{{ 'products.modal.label' | t }}" tabindex="0">
        {%- liquid
          if product.selected_or_first_available_variant.featured_media != null
            assign media = product.selected_or_first_available_variant.featured_media
            render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants
          endif
        -%}

        {%- for media in product.media -%}
          {%- liquid
            if section.settings.hide_variants and variant_images contains media.src
              assign variant_image = true
            else
              assign variant_image = false
            endif

            unless media.id == product.selected_or_first_available_variant.featured_media.id
              render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: variant_image
            endunless
          -%}
        {%- endfor -%}
      </div>
    </div>
  </product-modal>

  {% assign popups = section.blocks | where: "type", "popup" %}
  {%- for block in popups -%}
    <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
      <div role="dialog" aria-label="{{ block.settings.text }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
        <button id="ModalClose-{{ block.id }}" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
        <div class="product-popup-modal__content-info">
          <h1 class="h2">{{ block.settings.page.title }}</h1>
          {{ block.settings.page.content }}
        </div>
      </div>
    </modal-dialog>
  {%- endfor -%}

  {%- if product.media.size > 0 -%}
    <script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- if first_3d_model -%}
    <script type="application/json" id="ProductJSON-{{ product.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
    <script src="{{ 'product-model.js' | asset_url }}" defer></script>
  {%- endif -%}
{% render 'sticky-add-cart' %}   
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      function isIE() {
        const ua = window.navigator.userAgent;
        const msie = ua.indexOf('MSIE ');
        const trident = ua.indexOf('Trident/');

        return (msie > 0 || trident > 0);
      }

      if (!isIE()) return;
      const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id" data-productid="{{ product.id }}"]');
      const noScriptInputWrapper = document.createElement('div');
      const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
      noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
      variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

      document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
        hiddenInput.value = event.currentTarget.value;
      });
    });
  </script>

  {%- liquid
    if product.selected_or_first_available_variant.featured_media
      assign seo_media = product.selected_or_first_available_variant.featured_media
    else
      assign seo_media = product.featured_media
    endif
  -%}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ request.origin | append: product.url | json }},
      {% if seo_media -%}
        "image": [
          {{ seo_media | image_url: width: seo_media.preview_image.width | prepend: "https:" | json }}
        ],
      {%- endif %}
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
      {%- endif %}
      "brand": {
        "@type": "Brand",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            {%- if variant.barcode.size == 12 -%}
              "gtin12": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 13 -%}
              "gtin13": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 14 -%}
              "gtin14": {{ variant.barcode }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ request.origin | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
  </script>
</div>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        },
        {
          "type": "checkbox",
          "id": "image_as_switch",
          "default": false,
          "label": "t:sections.main-product.blocks.variant_picker.settings.image_as_switch.label",
          "info": "t:sections.main-product.blocks.variant_picker.settings.image_as_switch.info"
        },
        {
          "type":"number",
          "id":"switch_width",
          "label":"t:sections.main-product.blocks.variant_picker.settings.switch_width.label",
          "default":50
        },
        {
          "type":"number",
          "id":"switch_height",
          "label":"t:sections.main-product.blocks.variant_picker.settings.switch_height.label",
          "default":50
        },
        {
          "type":"checkbox",
          "id":"show_size_chart",
          "label": "t:sections.main-product.blocks.variant_picker.settings.show_size_chart.label",
          "default":false
        },
        {
          "type":"text",
          "id":"size_chart_lable",
          "label": "t:sections.main-product.blocks.variant_picker.settings.size_chart_lable.label",
          "default": "Size Chart?"
        },
        {
          "type": "color",
          "id": "size_chart_clr",
          "label": "t:sections.main-product.blocks.variant_picker.settings.size_chart_clr.label",
          "default": "#2196f3"
        },
        {
          "type": "range",
          "id": "size_chart_font",
          "label": "t:sections.main-product.blocks.variant_picker.settings.size_chart_font.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 10
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-product.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        }
      ]
    },
    {
      "type":"best_offer",
      "name":"t:sections.main-product.blocks.best_offer.name",
      "settings":[
        {
          "type":"header",
          "content":"t:sections.main-product.blocks.best_offer.settings.header.content"
        },
        {
          "type":"image_picker",
          "id":"offer_img",
          "label":"t:sections.main-product.blocks.best_offer.settings.offer_img.label"
        },
        {
          "type":"text",
          "id":"offer_header",
          "label":"t:sections.main-product.blocks.best_offer.settings.offer_header.label"
        },
        {
          "type":"text",
          "id":"offer_descript",
          "label":"t:sections.main-product.blocks.best_offer.settings.offer_descript.label"
        }
      ]
    },
    {
      "type":"icon_and_text",
      "name":"t:sections.main-product.blocks.icon_and_text.name",
      "settings":[
        {
          "type":"image_picker",
          "id":"icon_img",
          "label":"t:sections.main-product.blocks.icon_and_text.settings.icon_img.label"
        },
        {
          "type":"text",
          "id":"icon_text",
          "label":"t:sections.main-product.blocks.icon_and_text.settings.icon_text.label"          
        },
        {
          "type":"image_picker",
          "id":"icon_img_two",
          "label":"Icon"
        },
        {
          "type":"text",
          "id":"icon_text_two",
          "label":"Icon Text"          
        }
      ]
    },
    {
      "type":"checkout_safe_secure",
      "name":"t:sections.main-product.blocks.checkout_safe_secure.name",
      "settings":[
        {
          "type":"header",
          "content":"t:sections.main-product.blocks.checkout_safe_secure.settings.header.content"
        },
        {
          "type":"text",
          "id":"safe_secure_title",
          "label":"t:sections.main-product.blocks.checkout_safe_secure.settings.safe_secure_title.label"
        },
        {
          "type":"image_picker",
          "id":"checkout_logo_img",
          "label":"t:sections.main-product.blocks.checkout_safe_secure.settings.checkout_logo_img.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.main-product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        }
      ]
    },
   {
      "type":"product_view",
      "name":"t:sections.main-product.blocks.product_view.name",
      "limit":1,
      "settings":[
        {
          "type":"checkbox",
          "id":"enable_product_view",
          "label":"t:sections.main-product.blocks.product_view.settings.enable_product_view.label",
          "default":true
        }
      ]
    },
    {
      "name":"t:sections.main-product.blocks.count_down.name",
      "type":"count_down",
      "limit": 1,
      "settings":[
        {
          "type":"checkbox",
          "id":"enable_count_down",
          "label":"t:sections.main-product.blocks.count_down.settings.enable_count_down.label",
          "default":true
        },        
        {
          "type":"color",
          "id":"cdn_text_clr",
          "label":"t:sections.main-product.blocks.count_down.settings.cdn_text_clr.label",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "cdn_bg_clr",
          "label": "t:sections.main-product.blocks.count_down.settings.cdn_bg_clr.label",
          "default": "#000000"
        },
        {
          "type":"text",
          "id":"count_down_title",
          "label":"t:sections.main-product.blocks.count_down.settings.count_down_title.label",
          "default":"Title"
        },
        {
          "type":"color",
          "id":"title_color",
          "label":"t:sections.main-product.blocks.count_down.settings.title_color.label",
          "default":"#e31212"
        },
        {
          "type":"text",
          "id":"start_count_down",
          "label":"t:sections.main-product.blocks.count_down.settings.start_count_down.label",
          "info":"Starting Date: 2022/12/5"
        },
        {
          "type":"text",
          "id":"end_count_down",
          "label":"t:sections.main-product.blocks.count_down.settings.end_count_down.label",
          "info":"End Date: 2024/12/5"
        },
        {
            "type": "header",
            "content": "t:sections.main-product.blocks.count_down.settings.header.content"
        },
        {
            "type": "range",
            "id": "mg_top_desktop",
            "label": "t:sections.main-product.blocks.count_down.settings.mg_top_desktop.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "default": 0
        },
        {
            "type": "range",
            "id": "mg_buttom_desktop",
            "label": "t:sections.main-product.blocks.count_down.settings.mg_buttom_desktop.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "default": 0
        },
        {
            "type": "range",
            "id": "mg_top_mobile",
            "label": "t:sections.main-product.blocks.count_down.settings.mg_top_mobile.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "default": 0
        },
        {
            "type": "range",
            "id": "mg_buttom_mobile",
            "label": "t:sections.main-product.blocks.count_down.settings.mg_buttom_mobile.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "default": 0
        }
      ]
    },
    {
      "type": "shipping",
      "name": "t:sections.main-product.blocks.shipping.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "shipping_label",
          "label": "t:sections.main-product.blocks.shipping.settings.shipping_label.label",
          "default": "On all orders over $200"
        }
      ]
    },
    {
      "type": "estimated_delivery",
      "name": "t:sections.main-product.blocks.estimated_delivery.name",
      "limit": 1,
      "settings": [
       {
          "id": "ed_text",
          "type": "text",
          "label": "t:sections.main-product.blocks.estimated_delivery.settings.ed_text.label",
          "default": "Estimated Delivery: "
        }, {
          "type": "number",
          "id": "ed_in",
          "label": "t:sections.main-product.blocks.estimated_delivery.settings.ed_in.label",
          "default": 7
        }, {
          "type": "number",
          "id": "ed_delay",
          "label": "t:sections.main-product.blocks.estimated_delivery.settings.ed_delay.label",
          "default": 2
        }, {
          "type": "richtext",
          "id": "ed_additional",
          "label": "t:sections.main-product.blocks.estimated_delivery.settings.ed_additional.label"
        }, {
          "type": "richtext",
          "id": "ed_badges_text",
          "label": "t:sections.main-product.blocks.estimated_delivery.settings.ed_badges_text.label",
          "default": "<p>Guarantee safe & secure checkout</p>"
        }, {
          "type": "image_picker",
          "id": "ed_badges_image",
          "label": "t:sections.main-product.blocks.estimated_delivery.settings.ed_badges_image.label",
          "info": "Recommend size: 350x50 px"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "select",
      "id": "gallery_layout",
      "options": [
        {
          "value": "stacked",
          "label": "t:sections.main-product.settings.gallery_layout.options__1.label"
        },
        {
          "value": "thumbnail",
          "label": "t:sections.main-product.settings.gallery_layout.options__2.label"
        },
        {
          "value": "thumbnail_slider",
          "label": "t:sections.main-product.settings.gallery_layout.options__3.label"
        }
      ],
      "default": "stacked",
      "label": "t:sections.main-product.settings.gallery_layout.label"
    },
    {
      "type": "select",
      "id": "media_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.main-product.settings.media_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-product.settings.media_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-product.settings.media_size.options__3.label"
        }
      ],
      "default": "large",
      "label": "t:sections.main-product.settings.media_size.label",
      "info": "t:sections.main-product.settings.media_size.info"
    },
    {
      "type": "select",
      "id": "mobile_thumbnails",
      "options": [
        {
          "value": "show",
          "label": "t:sections.main-product.settings.mobile_thumbnails.options__1.label"
        },
        {
          "value": "hide",
          "label": "t:sections.main-product.settings.mobile_thumbnails.options__2.label"
        }
      ],
      "default": "hide",
      "label": "t:sections.main-product.settings.mobile_thumbnails.label"
    },
    {
      "type": "checkbox",
      "id": "hide_variants",
      "default": false,
      "label": "t:sections.main-product.settings.hide_variants.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.sticky-header.content"
    },    
    {
      "type": "checkbox",
      "id": "enable_sticky_cart",
      "default": false,
      "label": "t:sections.main-product.settings.sticky_add_to_cart.label"
    },
    {
      "type": "color",
      "id": "body_text",
      "label": "t:sections.main-product.settings.sticky_color.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background",
      "label": "t:sections.main-product.settings.sticky_bg_color.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "close_text_color",
      "label": "t:sections.main-product.settings.close_text_color.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "close_background",
      "label": "t:sections.main-product.settings.close_background.label",
      "default": "#ffffff"
    },
    {
      "type": "checkbox",
      "id": "enable_show_product",
      "default": true,
      "label": "t:sections.main-product.settings.enable_show_product.label"
    },
    {
      "type": "checkbox",
      "id": "enable_show_title",
      "default": true,
      "label": "t:sections.main-product.settings.enable_show_title.label"
    },
    {
      "type": "checkbox",
      "id": "enable_show_price",
      "default": true,
      "label": "t:sections.main-product.settings.enable_show_price.label"
    },
    {
      "type": "checkbox",
      "id": "enable_show_variant",
      "default": true,
      "label": "t:sections.main-product.settings.enable_show_variant.label"
    },
    {
      "type": "checkbox",
      "id": "enable_show_quantity",
      "default": true,
      "label": "t:sections.main-product.settings.enable_show_quantity.label"
    },    
    {
      "type": "checkbox",
      "id": "enable_show_des",
      "default": true,
      "label": "t:sections.main-product.settings.enable_show_des.label"
    }
  ]
}
{% endschema %}
